.x25-line-item-list .line-item {
    justify-content: space-between;

}
.x25-line-item-list .line-item .line-item-info {
    display: flex;
    flex-direction: row;
}
.x25-line-item-list .line-item .line-item-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.x25-line-item-list .line-item .line-item-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
}
